<div class="text-center">
  <h1 class="mt-2 mb-4">Companies List</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Document</th>
        <th scope="col">Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies">
        <th scope="row">{{ company.id }}</th>
        <td>{{ company.name }}</td>
        <td>{{ company.document }}</td>
        <td>{{ company.email }}</td>
        <td style="display: flex;">
          <button
            type="button"
            class="btn btn-sm btn-primary mx-1 my-1"
            [routerLink]="['/companies/edit', company.id]"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-sm btn-danger mx-1 my-1"
            data-toggle="modal"
            data-target="#deleteModal"
            (click)="deleteCompany(company)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button
    type="button"
    class="btn btn-success mx-auto"
    routerLink="/comany/new"
  >
    Adicionar
  </button>
</div>
